<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-localizacao-heading" jhiTranslate="jhipsterSampleApplicationApp.localizacao.home.createOrEditLabel">Create or edit a Localizacao</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.localizacao.endereco" for="field_endereco">Endereco</label>
                    <input type="text" class="form-control" name="endereco" id="field_endereco"
                           formControlName="endereco"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.localizacao.cep" for="field_cep">Cep</label>
                    <input type="text" class="form-control" name="cep" id="field_cep"
                           formControlName="cep"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.localizacao.cidade" for="field_cidade">Cidade</label>
                    <input type="text" class="form-control" name="cidade" id="field_cidade"
                           formControlName="cidade"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.localizacao.bairro" for="field_bairro">Bairro</label>
                    <input type="text" class="form-control" name="bairro" id="field_bairro"
                           formControlName="bairro"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.localizacao.pais" for="field_pais">Pais</label>
                    <select class="form-control" id="field_pais" name="pais" formControlName="pais">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paisOption.id === editForm.get('pais')!.value?.id ? editForm.get('pais')!.value : paisOption" *ngFor="let paisOption of pais; trackBy: trackById">{{ paisOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
