<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.historicoDeTrabalho.home.title">Historico De Trabalhos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-historico-de-trabalho" [routerLink]="['/historico-de-trabalho/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.historicoDeTrabalho.home.createLabel">
            Create a new Historico De Trabalho
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="historicoDeTrabalhos?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.historicoDeTrabalho.home.notFound">No historicoDeTrabalhos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="historicoDeTrabalhos && historicoDeTrabalhos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataInicial"><span jhiTranslate="jhipsterSampleApplicationApp.historicoDeTrabalho.dataInicial">Data Inicial</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataFinal"><span jhiTranslate="jhipsterSampleApplicationApp.historicoDeTrabalho.dataFinal">Data Final</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lingua"><span jhiTranslate="jhipsterSampleApplicationApp.historicoDeTrabalho.lingua">Lingua</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="trabalho.id"><span jhiTranslate="jhipsterSampleApplicationApp.historicoDeTrabalho.trabalho">Trabalho</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="departamento.id"><span jhiTranslate="jhipsterSampleApplicationApp.historicoDeTrabalho.departamento">Departamento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="empregado.id"><span jhiTranslate="jhipsterSampleApplicationApp.historicoDeTrabalho.empregado">Empregado</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let historicoDeTrabalho of historicoDeTrabalhos ;trackBy: trackId">
                    <td><a [routerLink]="['/historico-de-trabalho', historicoDeTrabalho.id, 'view']">{{ historicoDeTrabalho.id }}</a></td>
                    <td>{{ historicoDeTrabalho.dataInicial | date:'medium' }}</td>
                    <td>{{ historicoDeTrabalho.dataFinal | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.Lingua.' + historicoDeTrabalho.lingua }}">{{ historicoDeTrabalho.lingua }}</td>
                    <td>
                        <div *ngIf="historicoDeTrabalho.trabalho">
                            <a [routerLink]="['/trabalho', historicoDeTrabalho.trabalho?.id, 'view']" >{{ historicoDeTrabalho.trabalho?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="historicoDeTrabalho.departamento">
                            <a [routerLink]="['/departamento', historicoDeTrabalho.departamento?.id, 'view']" >{{ historicoDeTrabalho.departamento?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="historicoDeTrabalho.empregado">
                            <a [routerLink]="['/empregado', historicoDeTrabalho.empregado?.id, 'view']" >{{ historicoDeTrabalho.empregado?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/historico-de-trabalho', historicoDeTrabalho.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/historico-de-trabalho', historicoDeTrabalho.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(historicoDeTrabalho)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
