<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="historicoDeTrabalho">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.historicoDeTrabalho.detail.title">Historico De Trabalho</span> {{ historicoDeTrabalho.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.historicoDeTrabalho.dataInicial">Data Inicial</span></dt>
                <dd>
                    <span>{{ historicoDeTrabalho.dataInicial }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.historicoDeTrabalho.dataFinal">Data Final</span></dt>
                <dd>
                    <span>{{ historicoDeTrabalho.dataFinal }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.historicoDeTrabalho.lingua">Lingua</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'jhipsterSampleApplicationApp.Lingua.' + historicoDeTrabalho.lingua }}">{{ historicoDeTrabalho.lingua }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.historicoDeTrabalho.trabalho">Trabalho</span></dt>
                <dd>
                    <div *ngIf="historicoDeTrabalho.trabalho">
                        <a [routerLink]="['/trabalho', historicoDeTrabalho.trabalho?.id, 'view']">{{ historicoDeTrabalho.trabalho?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.historicoDeTrabalho.departamento">Departamento</span></dt>
                <dd>
                    <div *ngIf="historicoDeTrabalho.departamento">
                        <a [routerLink]="['/departamento', historicoDeTrabalho.departamento?.id, 'view']">{{ historicoDeTrabalho.departamento?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.historicoDeTrabalho.empregado">Empregado</span></dt>
                <dd>
                    <div *ngIf="historicoDeTrabalho.empregado">
                        <a [routerLink]="['/empregado', historicoDeTrabalho.empregado?.id, 'view']">{{ historicoDeTrabalho.empregado?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/historico-de-trabalho', historicoDeTrabalho.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
